@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2d2f34;
    font-family: "Poppins";
}

li, a, button {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #202022;

}

.logotipo a {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: #6090d7;
}

button {
    padding: 10px 20px;
    background-color: #4771b0;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover {
    background-color: #30619c;
}

main {
    padding: 30px;
}

.busca-container {
    text-align: center;
    margin-bottom: 40px;
}

.busca-container h1 {
    color: white;
    font-size: 40px;
}

#form-busca {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#input-busca {
    width: 400px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#resultado-livros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.card-livro {
    background-color: #202022;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.card-livro:hover {
    transform: scale(1.05);
}

.card-livro img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.info-livro {
    padding: 15px;
}

.info-livro h2 {
    color: white;
    font-size: 18px;
    margin: 0;
}

.info-livro p {
    color: #bdbdbd;
    font-size: 14px;
}